:root{
  /*colors*/
  --black : #212121;
  --backgroundColor: #E7E0D3;
  --purple: #5C2A5B;
  --darkRed: #B7384A;
  --red: #ED4A4A;
  --orange: #EF7949;
  --yellow: #F3C053;


  /*fonts*/
  --sofia: sofia-pro-soft, sans-serif;
  --avory: avory-i-pe, sans-serif;

  --weight1:400;
  --weight2:600;
  --Weight3:700;
  --weight4:800;

  --step--3: clamp(0.5119rem, 0.4189rem + 0.4505vw, 0.7681rem);
  --step--2: clamp(0.64rem, 0.524rem + 0.5626vw, 0.96rem);
  --step--1: clamp(0.8rem, 0.6549rem + 0.7033vw, 1.2rem);
  --step-0: clamp(1rem, 0.8187rem + 0.8791vw, 1.5rem); /*bodykopie tekst*/
  --step-1: clamp(1.25rem, 1.0234rem + 1.0989vw, 1.875rem);/*bodykopie tekst*/
  --step-2: clamp(1.5625rem, 1.2792rem + 1.3736vw, 2.3438rem);/*title text*/
  --step-3: clamp(1.9531rem, 1.5989rem + 1.7176vw, 2.93rem);/*title text*/
  --step-4: clamp(2.4413rem, 1.9986rem + 2.1462vw, 3.6619rem);
  --step-5: clamp(3.0519rem, 2.4986rem + 2.6824vw, 4.5775rem);
  --step-6: clamp(3.815rem, 3.1235rem + 3.3527vw, 5.7219rem);
  --step-7: clamp(4.7681rem, 3.9035rem + 4.1923vw, 7.1525rem);

  /*sizes*/
  --size1: ;
  --size2: ;

  /*mediaQueries*/
  --ipad: only screen and (min-width: 600px) and (orientation: portrait) /*don't forget @media var(); */
  --desktop: only screen and (min-width: 1024px); /*don't forget @media var(); */
}

body{
  background-color: var(--backgroundColor);
  font-family: var(--sofia);
}
/* 
.--step--2{
  font-size: var(--step--2);
}

.--step--1{
  font-size: var(--step--1);
}

.--step-0{
  font-size: var(--step-0);
  color: var(--purple);
}

.--step-1{
  font-size: var(--step-1);
}

.--step-2{
  font-size: var(--step-2);
  font-family: var(--avory);
  font-weight: var(--weight4);
}
.--step-3{
  font-size: var(--step-3);
  font-family: var(--avory);
  font-weight: var(--weight4);
}
.--step-4{
  font-size: var(--step-4);
}

.--step-5{
  font-size: var(--step-5);
} */