:root{
  /*colors*/
  --black : #212121;
  --backgroundColor: #E7E0D3;
  --purple: #5C2A5B;
  --playPause:#A14F98;
  --darkRed: #B7384A;
  --red: #ED4A4A;
  --orange: #EF7949;
  --yellow: #F3C053;


  /*fonts*/
  --sofia: sofia-pro-soft, sans-serif;
  --avory: avory-i-pe, sans-serif;

  --weight1:400;
  --weight2:600;
  --Weight3:700;
  --weight4:800;

  --step--3: clamp(0.5119rem, 0.4189rem + 0.4505vw, 0.7681rem);
  --step--2: clamp(0.64rem, 0.524rem + 0.5626vw, 0.96rem);
  --step--1: clamp(0.8rem, 0.6549rem + 0.7033vw, 1.2rem);
  --step-0: clamp(1rem, 0.8187rem + 0.8791vw, 1.5rem); /*bodykopie tekst*/
  --step-1: clamp(1.25rem, 1.0234rem + 1.0989vw, 1.875rem);/*bodykopie tekst*/
  --step-2: clamp(1.5625rem, 1.2792rem + 1.3736vw, 2.3438rem);/*title text*/
  --step-3: clamp(1.9531rem, 1.5989rem + 1.7176vw, 2.93rem);/*title text*/
  --step-4: clamp(2.4413rem, 1.9986rem + 2.1462vw, 3.6619rem);
  --step-45: calc((var(--step-4) + var(--step-5)) / 2);
  --step-5: clamp(3.0519rem, 2.4986rem + 2.6824vw, 4.5775rem);
  --step-6: clamp(3.815rem, 3.1235rem + 3.3527vw, 5.7219rem);
  --step-7: clamp(4.7681rem, 3.9035rem + 4.1923vw, 7.1525rem);

  /*sizes*/
  --size1h: 10dvh;
  --size2h: 12dvh;

  /*mediaQueries*/
  --ipad: only screen and (min-width: 600px) and (orientation: portrait) /*don't forget @media var(); */
  --desktop: only screen and (min-width: 1024px); /*don't forget @media var(); */
}
html{
  background-color: var(--backgroundColor);
  font-family: var(--sofia);
  color: var(--black);
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  width: 100%;
}
p{
  line-height: 150%;
  font-size: var(--step-0);
  font-weight: var(--weight1);
}
h4{
  color: var(--purple);
}

img{
  width: 100%;
}

video{
  width: 100%;
}

.animationWindow{
  width: 100%;
  height: 100vh;
  background-color: red;
}



/* beginning style header*/
header{
  display: grid;
  height: 100dvh;
  grid-template-columns: 5% 10% 10% 10% 10% 10% 10% 10% 10% 10% 5%;
  grid-template-rows: 2.5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 2.5%;
  overflow: hidden;

}

.logo{
  width: 60px;
  height: 60px;
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 10;
}

.hamburgerMenu{
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--backgroundColor);
  background-image: url(/assets/svg/hamburger_menu.svg);
  background-size: cover;
  grid-column: 10;
  grid-row: 2/3;
}

.Sun{
  background-color: var(--yellow);
  height: 450px;
  width: 450px;
  border-radius: 50%;
  transform: translate(-60%, -10%);
  z-index: -1;
}

.header_title{
  grid-row: 4/5;
  grid-column: 2/10;
  font-size: var(--step-45);
  font-family: var(--avory);
  font-weight: var(--weight4);
  color: var(--purple);
}

.header_title_Sub{
  grid-column: 2/11;
  grid-row: 5/6;
  color: var(--purple);
  font-size: var(--step-3);
  font-family: var(--avory);
  font-weight: var(--weight4);
  margin: 5px;
}

.header_title_text{
    grid-row: 8/9;
    grid-column: 2/7;
    color: var(--purple);
    font-family: var(--avory);
    font-size: var(--step-1);
    font-weight: var(--weight4);
}

.berlinTower{
  grid-column: 6/8;
  grid-row: 7/20;
}

.parisLouvre{
  grid-column: 1/12;
  grid-row: 16/21;
  place-self: center;
  transform-origin: center;
  margin-left: -50dvw;
  width: 120%;
}

.belgiumAtomium{
  grid-column: 7/13;
  margin-left: 5dvw;
  grid-row: 15/21;
  width: 130%;
}

.wagons{
  grid-column: 1/11;
  grid-row: 19/21;
  margin-top: -4dvh;
  width: 500%;
  

}
/*navigation for mobile*/
.container {
  max-width: 1050px;
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-container li {
  list-style: none;
}


.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
  background-color: ;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--purple);
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.menu-items{
  background-color: var(--backgroundColor);
  height: 100vh;
}

.navbar .menu-items {
  padding-top: 120px;

  width: 100vw;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-150%);
}
.menu-items-container{
  height: 85vh;
  margin-top: -5dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-items-container ul{
  width: 85%;
  margin: 0 auto;
}

.menu-items-container ul li{
  margin-top: 25px;
}

.menu-items-container ul li a{
  font-family: var(--avory);
  font-weight: var(--weight4);
  font-size: var(--step-2);
  text-decoration: none;
  color: var(--purple);
}

.quickactions{
  height: 60px;
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.tickets{
  background-color: var(--purple);
  width: 28%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: var(--avory);
  font-weight: var(--weight4);
  font-size: var(--step-2);
  padding: 15px 0;
  color: var(--backgroundColor);
  border-radius: 10px;
}

.language{
  border: var(--purple) 3px solid;
  color: var(--purple);
  background-color: var(--backgroundColor);
}


.chapterOne{
  margin-top: 0px;
  padding: 0px;
}

.socials{
  display: flex;
  width: 40%;
  margin: 0 0 6dvh 7.5%;
  justify-content: space-between;
}

.socials a{
  flex-basis: 25%;
}

.nav_chapter{
  font-size: var(--step-1);
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: var(--purple);
  
}

.navMobile{
  z-index: 1000;
}
.iconTW{
  position: absolute;
  z-index: 1200;
  top: 2%;
  left: 80%;
  width: 15%;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

/*end of navigation hamburger
/*end of header*/



.bridge{
  overflow: hidden ;
}

.bridge_animation{
  width: 100%;
  height: 55dvh;
}

.accentBold{
  color: var(--purple);
  font-weight: var(--weight4);
  font-size: 1.2rem;
}


.titleh2{
  color: var(--purple);
  font-family: var(--avory);
  font-size: var(--step-3);
  font-weight: var(--weight4);
  width: 90%;
}







/*pop up */
.soundButton{
  background-color: var(--purple);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 3px;
}
.playPauseButton_ContentPlay{
  width: 70%;
  margin-left: 2dvw;
}
.playPauseButton_ContentPause{
  width: 70%;
}
.playPauseButton{
  display: flex;
  justify-content: center;
}
.PopUp_titleSound{
  position: sticky;
  top: -1px; 
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  margin: -8px 0px;
  padding: 10px 0 20px 0;
  background-color: var(--backgroundColor);
}
.popUpTitle{
  color: var(--purple);
  font-family: var(--avory);
  font-size: var(--step-3);
  font-weight: var(--weight4);
}
.dialogPopUp_divContainer{
  background-color: var(--backgroundColor);
  height: 80vh;
  border-top-left-radius: 60px;
  border-top-right-radius: 50px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Ensure the content stacks vertically */
}
.popUpcentre::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

.popUpcentre::-webkit-scrollbar-thumb {
  background-color: rgba(92, 42, 91,0.5); /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the radius to make it round */
}

.popUpcentre::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}
.popUpcentre{
  overflow-y: auto;
  overflow-x: hidden;
  height: 95%;
  width: 90%;
  margin: 5% auto 0% auto;
}
.dialog--dialogOne, .dialog--dialogTwo, .dialog--dialogThree, .dialog--dialogTrain1, .dialog--dialogTrain2, .dialog--dialogTrain3, .dialog--dialog3dFrench, .dialog--dialog3dType18, .dialog--dialog3dFerman, .dialog--dialog3dBritish{
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column-reverse;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(21, 21, 21, 0.7);
  border: none;
  padding: 0px;
  transition: transform 0.5s ease;
  transform: translateY(-100%); /* Start offscreen */
  z-index: 999;
}
.model3D{
  margin-top: 30px;
}
.par3d{
  width: 90%;
  margin-left: 5% !important;
}

.specifications{
  width: 90%;
  margin: 0 auto;
  font-size: var(--step-0);
}

.specifications h3{
  font-size: var(--step-2);
  margin-bottom: 10px;
}
.specifications ul{
  width: 90%;
  margin-left: 5%;
}

.specifications ul li{
  list-style-type: circle;
  margin: 10px 0 10px 5%;
}



@keyframes slideUp {
  from {
    transform: translateY(100dvh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown{
  from {
    transform: translateY(0dvh);
  }
  to {
    transform: translateY(100dvh);
  }
}

.dialog--open {
  transform: translateY(0); /* Move to the top when open */
  animation: slideUp ease 0.5s forwards;
}


@keyframes slideUp {
  from {
    transform: translateY(100dvh);
  }
  to {
    transform: translateY(0);
  }
}

.dialog--closed{
  transform: translateY(100dvh);
  animation:slideDown ease 0.5s forwards;
}
@keyframes slideDown{
  from {
    transform: translateY(0dvh);
  }
  to {
    transform: translateY(100dvh);
  }
}

body.dialog-open {
  overflow: hidden;
}
.readStory{
  background-image:url(/assets/svg/Button.svg);
  background-repeat: none;
  background-size: cover;
  border: none;
  font-family: var(--avory);
  color: var(--purple);
  font-size: var(--step-2);
  font-weight: var(--weight4);
  padding: 10px 30px;
  margin-top: 20px;
}
.enveloppeStory_container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.enveloppe{
  width: 70%;
  background-color: #5C2A5B;
}


.flex{
  display: flex;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 34px solid #A14F98; /* Adjust color as needed */
  transform: rotate(90deg);
  margin: 0 3.5dvw;
}
.pupUpClose, .pupUpCloseVisitor, .pupUpCloseChef, .pupUpCloseDine, .pupUpClosesleep, .pupUpCloseBagage, .pupUpClose3dFrench, .pupUpClose3dBritisch, .pupUpClose3dGerman, .pupUpClose3dType18{
  width: 60px;
  border-radius: 10px;
  height: 60px;
  display: flex;
  position: absolute;
  background-image: url(/assets/svg/close_button.svg);
  background-size: 100% 100%;
  margin: -15dvh 0 0 75dvw;
}

.popUpFigure{
  width: 60%;
  margin: 50px 20%;
}

.special{
  width: 90%;
  margin: 20px auto 60px auto;
}

.testimonialChef,
.testimonialVisitor,
.testimonialReporter {
  flex: 0 0 auto; 
  min-width: 40%; 
  box-sizing: border-box;
  width: 70%;
}

.notJSarticle{
  flex: 0 0 auto; 
  min-width: 40%; 
  box-sizing: border-box;
  width: 70%;
}

.ux_swipe{
  display: flex;
  width: 60%;
  height: 5dvh;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}
.popUpcentre p{

  width: 90%;
  margin: 0 auto;
}

.ux_swipe .swipe_animation{
    scale:0.75;
}
.ux_swipe h4{
  width: 300%;
  font-size: var(--step-1);
  font-family: var(--avory);
  font-weight: var(--Weight3);
  margin-left: -10px;
}

.popUpBodyCopy{
  padding-top: 5px;
}

.popUpBodyCopy_end{
  padding-bottom: 120px;
}

.popUpSub{
  font-size: var(--step-2);
  font-family: var(--avory);
  font-weight: var(--Weight3);
  color: var(--purple);
  padding-top: 30px;
}

.container_popUp_testimonials {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll; /* Enable horizontal scrolling */

}

strong{
  font-weight: var(--weight4);
}


.notJSSection {
  display: none;
  flex-wrap: nowrap;
  overflow-x: scroll; /* Enable horizontal scrolling */
  padding: 30px;
}

.js-enabled .notJSSection {
  display: none;
}

.js-enabled .container_popUp_testimonials {
  display: flex;
  /* Add other styles as needed */
}


/*journey to caïro*/

.journeyToCaïro{
  width: 90%;
  margin: 10vh auto;
}

.journeyToCaïro h2{
  margin: 0 0 30px 0;
}

.journeyToCaïro p{
  margin: 0 0 50px 0;
}

/* end of journey */

/* data 1889 */
.data1889{
  width: 95%;
  margin-left: 5%;
  margin: 80px 0 30px 5%;
}
.yearBig{
  margin-bottom: 10px;
}

.data1889 p{
  width: 95%;
}


/* data 1930 */
.data1930{
  width: 95%;
  margin-top: 50px;
}

.data1930 div{
  display: flex;
  justify-content: space-around;
}

.data1930 div img{
  height: 100%;
  align-self: center;
  width: 35%;
  flex-shrink: 0; 
}

.data1930 div p{
  flex-basis: 55%;
}

/*interactive map*/
.interactiveMap{

  overflow: hidden ;
  margin: 80px 0 30px 0;
}


.animation-container-mobile iframe{
  background-image: url(/assets/svg/loadingIconPhone.svg);
  width: 100%;
  margin-left: 10px;
  height: 60vh;
}

.interactiveMap_buttons{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.map__button{
  margin-bottom: 10px;
  width: 48%;
  background-image: url(/assets/svg/Button.svg);
  background-size: cover;
  padding: 10px 0;
  font-size: var(--step-2);
  font-family: var(--avory);
  color: var(--purple);
  font-weight: var(--weight4);
  border: none;
}
.interactiveMap h2{
  width: 90%;
  margin: 0 5% 5px 5%;
}

.interactiveMap p{
  width: 90%;
  margin: 0 0 25px 5%;
}

/* embarking the journey */
.journeyOfDiscovery{
  width: 90%;
  margin: 0px auto 80px auto;
}
.journeyOfDiscovery h2{
  margin-bottom:15px;
}

.journeyOfDiscovery_2ndP{
  margin: 40px 0;
}

.journeyOfDiscovery img{
  width: 60%;
  margin: 0 20%;
}


/*unparraleled luxary*/
  .UnparalleledLuxury{
    margin: 100px 0;
  }

  .content_unparralleledLuxury{
    width: 90%;
    margin: 0 auto;
  }

  .content_unparralleledLuxury h2{
    margin:0 0 10px 0
  }
  .content_unparralleledLuxury h3{
    font-family: var(--avory);
    color: var(--purple);
    font-size: var(--step-2);
    width: 70%;
    font-weight: var(--weight4);
    margin: 20px 0 10px 0;
  }

  .flexboxCarDetails {
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
  }
  
  .train_container {
    display: flex; /* You can keep this if you need it */
  }
  
  .flexboxCarDetails > div {
    flex-shrink: 0; /* Prevents the elements from shrinking */
    margin-right: 10px; /* Adjust the margin between elements as needed */
    width: 370%;
  }

  .flexboxCarDetails__dining, .flexboxCarDetails__sleeping, .flexboxCarDetails__Baggage{
    width: 60%;
  }

  .train_container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .train_container div button{
    background-image: url(/assets/svg/Button.svg);
    background-size: cover;
    font-family: var(--avory);
    border: none;
    width: 30%;
    font-weight: var(--weight4);
    color: var(--purple);
    padding: 5px;
    margin-top: 10px;
    font-size: var(--step-3);
  }
  .mobileSwipe{
    margin-top: 30px;
  }

  .trainPopUpFigure{
    width: 90%;
    margin: 50px 0 0 0;
  }
  
  .popUpCentreTrain{
    width: 100%;
  }

  .trainPopH5{
    margin-top: 10px;
  }

  .popUpCentreTrain h5{
    margin-left: 5%;
    margin-bottom: 10px;
  }


  /* trough 7 countries */
  .sevenCountries{
    width: 90%;
    margin: 80px auto;
  }

  .stampAE{
    width: 70%;
    margin: 10px 0;
  }

  .stampParis{
    width: 40%;
    transform: rotate(15deg);
    display: flex;
    margin: -10px 0 0 auto;
  }

  .sevenCountries_p1{
    margin: 0 0 25px 0;
  }

  /*New stories*/
  .newStories{
    background-color: var(--red);
    color: var(--purple);
    width: 90%;
    margin: 100px auto 20px auto;
    border: var(--purple) solid 3px;
  }

  .newStories section h2{
    font-size: var(--step-3);
    font-family: var(--avory);
    font-weight: var(--weight4);
    margin: 20px 5% 10px 5% 
  }

  .newStories section p{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
  }


  .hascontainer{
    margin: 0 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;

  }


  .hasbutton{
    background-color: transparent;
    border: var(--purple) 2px solid;
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 20px 0;
    width: 49%;
    color: var(--purple);
    font-weight: var(--weight2);
  }

  .newStories h3{
    margin: 0px 0 10px 5%;
    font-family: var(--avory);
    font-weight: var(--weight4);
    font-size: var(--step-2);
  }


/*display none javascript enhancement*/
.notJSarticle {
  border: var(--purple) solid 3px;
  height: 60vh;
  overflow-x: auto; /* Add horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar if needed */
  border-radius: 20px;
  width: 90%;
  margin-right: 10px;
}

/* brige between */
.bridge{
  margin: 100px 0 0 0;
}

.bridge section{
  width: 90%;
  margin: 0 auto;
}

.bridge div h2{
  margin-bottom: 20px;
}

.bridge div p{
  margin-bottom: 100px;
}



/* istanbull to caïro */
.IstanbullCairo {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  overflow: hidden; /* Allow content to overflow the container */
}

.IstanbullCairo section {
  width: 50%;
  padding: 20px;
  align-self: center;
  flex-shrink: 0;
  overflow: visible;
}
.IstanbullCairo section h2{
  width: 100%;
  margin-bottom: 20px;
}

.IstanbullCairo section p{
  width: 122%;
}

.IstanbullCairo iframe {
  width: 50%; /* Set the width of the iframe to 35% */
  height: 150vh; /* Set the height of the iframe to 120vh or adjust as needed */
  border: none;
  flex-shrink: 0;
  
}



/*not comforcable but impressive*/
.container_counter {
  display: flex;
  flex-direction: row;
  overflow: hidden; 
  width: 98%;
  margin-bottom: 100px;
}

.counter_tekst h2{
  margin-bottom: 15px;
}


.container_illustration_counter {
  flex: 40%; 
  position: relative;
  margin-top: 10dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.counter_tekst {
  flex: 60%; 
  padding: 20px;
}

.bus h4,
.counter_item_train h4,
.ship h4 {
  float: right;
  margin-right: 20px; 
  font-family: var(--avory);
  font-weight: var(--weight4);
  font-size: var(--step-2);
}

.counter_item_train h4{
  position: relative;
  left: -10px;
}

.counter_item_train img,
.ship img,
.bus img {
  width: 130%; 
  height: auto;
  margin-left: -30%;
}

.ship{
  position: relative;
  left: -10%;
}

.bus{
  position: relative;
  left: -25%;
}

.bus img {
  width: 200%;
  position: relative;
  left: -65%;
}

.counter--one, .counter--two, .counter--three{
  font-size: var(--step-5);
}

/*first row experience*/
.headTitle{
  margin: 10px  auto;
}

.firstRowExpereince p{
  width: 90%;
  margin: 0 auto 30px auto;
}

.firstRowExpereince{
  margin: 0 0 100px ;
}

.icon3d{
  width: 15%;
  margin-left: 5%;
}








.notJSarticle figure {
  width: 60%;
  margin: 0 auto;
}

.notJSarticle h5,
.notJSarticle p {
  width: 95%;
  margin: 0 auto;
}

.notJSh2 {
  font-family: var(--avory);
  font-size: var(--step-3);
  font-weight: var(--weight4);
  color: var(--purple);
  margin: 0 0 0 2.7%;
}


/*beginning 3d models section*/
.dModels{
  width: 90%;
  margin: 0 auto;
}
.dModels p{
  margin: 10px 0 10px 0;
}

.dModels_button_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dModels_button_container button{
  border: var(--purple) solid 2px;
  color: var(--purple);
  font-family: var(--sofia);
  font-weight: var(--weight4);
  width: 48%;
  font-size: var(--step-0);
margin-top: 4%;
height: 60px;
background-color: transparent;
}

.isActive{
  background-color: var(--red) !important;
  
}

.detailButton3d{
  background-color: var(--red);
  color: var(--purple);
  font-size: var(--step-0);
  font-weight: var(--weight4);
  padding: 15px 0px;
  border: 2px solid var(--purple);
  width: 40%;
  margin: 0 30%;
}

.changeContent3d img{
  margin: 20px 0;
}

.notDisplay{
  display: none;
}

.model3DSmall{
  display: none;
}

.notDislays{
  display: none;
}

.interactiveMap_dropdown{
  display: none;
}

.not_PHONE{
  display: none;
}


/*navigation hamburger*/

/* end of pop up and first experience styling*/


/* 
.--step--2{
  font-size: var(--step--2);
}

.--step--1{
  font-size: var(--step--1);
}

.--step-0{
  font-size: var(--step-0);
  color: var(--purple);
}

.--step-1{
  font-size: var(--step-1);
}

.--step-2{
  font-size: var(--step-2);
  font-family: var(--avory);
  font-weight: var(--weight4);
}
.--step-3{
  font-size: var(--step-3);
  font-family: var(--avory);
  font-weight: var(--weight4);
}
.--step-4{
  font-size: var(--step-4);
}

.--step-5{
  font-size: var(--step-5);
} */


/*screens smaller than 375 px*/
@media only screen and (max-width: 390px){
  .header_title{
    font-size: var(--step-4);
  }
  .berlinTower{
    width: 90%;
    grid-row: 7/20;
    
  }
  header{
    height: 100dvh;
    width: 100%;
  }

  .wagons{
    grid-row: 18/20;
    margin-top: -0vh;
  }
  .pupUpClose, .pupUpCloseVisitor, .pupUpCloseChef{
    margin: -15dvh 0 0 75dvw;
  }

  .menu-items-container ul li a{
    font-family: var(--avory);
    font-weight: var(--weight4);
    font-size: var(--step-2);
  }
  .socials{
    margin-top: 3dvh;
  }

  .train_container div button{
    width: 40%;
    font-size: var(--step-1);
  }

  .mobileSwipe{
    width: 70%;
  }

  .flexboxCarDetails__dining, .flexboxCarDetails__sleeping, .flexboxCarDetails__Baggage{
    width: 60%;
  }
  .train_container div button{
    padding: 10px 20px;
    width: 030%;
  }
  .counter_tekst h2{

    width: 120%;
  }
  .dModels_button_container button{
    font-size: var(--step--0);
  }
  .changeContent3d img{
    margin: 0px 0;
  }
  .popUpTitle{
    font-size: 1.7rem;
  }
  .stampParis{
    margin-top:20px ;
  }
  .model3D{
    display: none;
  }
  .model3DSmall{
    display: block;
  }
  .hasbutton{
    font-size: var(--step-0);
  }
}



@media screen and (min-width: 1024px){
  .not_DESK{
    display: none;
  }

  p{
    font-size: var(--step--1);
  }

  .accentBold{
    font-size: var(--step-0);
  }

  /*begin header*/
  .nav_desktop{
    display: flex;
    width: 100%;
    grid-column: 1/13;
    grid-row: 1/4;
    margin: 20px auto;
    justify-content:space-between;
    max-width: 1700px;

  }

  .nav_desktop img{
    flex-basis: 6%;
    max-width: 6%;
    flex-shrink: 0;
  }

  .nav_desktop ul{
    display: flex;
    flex-basis: 70%;
    align-items: center;
    justify-content: space-between;
  }

  .nav_desktop ul li a{
    font-size: var(--step-0);
    color: var(--purple);
    font-family: var(--avory);
    font-weight: var(--weight4);
    text-decoration: none;
  }

  .nav_desktop select{
    background-color: var(--backgroundColor);
    width: 8%;
    height: 60%;
    margin: 1% 10px 1% 0;
    border: var(--purple) 2px solid;
    color: var(--purple);
    font-family: var(--avory);
    font-weight: var(--Weight3);
    font-size: var(--step-0);
  }

  .header_title{
    grid-column: 2/10;
    grid-row: 6/7;
  }


  .Sun{
    transform: translate(0%, 0%);
    position: relative;
    grid-column: 5/9;
    grid-row: 1/9;
    justify-self: center; /* Center horizontally within the grid area */
    align-self: center; 
  }

  .parisLouvre{
    grid-column: 3/8;
    grid-row: 10/21;
    margin-left: 0dvw;
    width: 50rem;
  }

  .header_title_Sub{
    grid-column: 2/6;
    grid-row: 7/8;
    margin-top: 20px;
  }

  .header_title_text{
    grid-column: 2/6;
    grid-row: 10/11;
  }

  .berlinTower{
    grid-column: 7/8;
    grid-row: 1/10;
    width: 70%;
    height: 90vh;
  }

  .belgiumAtomium{
    grid-column: 7/12;
    grid-row: 6/18;
    width: 38rem;
    margin-left: 3rem;
  }

  .wagons{
    grid-column: 1/4;
    grid-row: 19/22;
    width: 100rem;
  }
  /*einde header DESK*/
  .journeyToCaïro {
    display: flex;
    width: 80%;
    height: 60vh;
  }
  
  .DESK_container {
    overflow: visible;
    width: 40%;
  }

  .DESK_container p{
    width: 130%;
    margin-left: 5%;
  }
  
  .journeyToCaïro img {
    width: 60%;
    align-self: flex-end; /* Align the image to the bottom of the container */
  }


  .data1889{
    width: 100%;
    margin: 0 auto 0 auto;
    flex-basis: 40%;
  }

  .yearDESK_alldata{

    width: 80%;
    margin: -14% auto 0 auto;
    display: flex;
  }

  .data1930{
    margin-top: 0px;
    width: 100%;
    margin: 0 0 0 0;
    flex-basis: 40%;
  }

  .BIYear_DESK{
    display: block;
    width: 80%;
    margin: -11% auto 0 auto;
  }

  .NOT_DESK{
    display: none;
  }

  .data1930 div{
    display: block;
    margin-top: 50%;
    margin-left: 15%;
  }

  .year_img{
    display: block;
    flex-basis: 20%;
    margin-top: 5%;
  }

  .interactiveMap{
    display: none;
  }

  .interactiveMap_dropdown{
    display: flex;
    width: 80%;
    height: 80vh;
    margin: 100px auto;
  }

  .container {
    max-width: 1000px;
    margin-top: 30px;
  }
  .container .step-list .caption {
    color: var(--purple);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
  }
  .container .step-list ul {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
    margin-left: 10%;
  }
  .container .step-list ul .step-list-item:not(:last-child) {
    padding-bottom: 20px;
  }
  .container .step-list ul .step-list-item {
    padding-left: 25px;
    position: relative;
  }
  .container .step-list ul .step-list-item:before {
    width: 13px;
    height: 13px;
    border: 2px solid var(--purple);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    display: inline-block;
    position: absolute;
    margin-left: -25px;
    margin-top: 3px;
  }
  .container .step-list ul .step-list-item:first-child:before {
    /* Override background color for the first-child */
    background-color: var(--red); /* Set the background color to red */
}
  .container .step-list ul .step-list-item:after {
    width: 0px;
    height: calc(100% - 16px);
    
    content: "";
    position: absolute;
    margin-left: -18px;
    top: 18px;
  }

  .container .step-list ul .step-list-item:not(:last-child):after {
    border: 1.5px solid var(--purple);
}
  .container .step-list ul .step-list-item .item-caption {
    color: var(--purple);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }
  .container .step-list ul .step-list-item .item-sub {
    color: var(--purple);
    padding-top: 3px;
    font-size: 14px;
  }

  .interactiveMap_dropdown_left{
    width: 40%;
  }

  .interactiveMap_dropdown_left p{
    width: 90%;
    margin: 20px 0 50px 0;
  }

  .interactiveMap_dropdown_right{
    width: 60%;
    overflow: hidden;
    background-image: url(/assets/svg/loadingIconDESK.svg);
  }

  .interactiveMap_dropdown_right iframe{
    width: 120%;  
    height: 100%;
  }

  .seletor_container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .seletor_container img{
    width: 70%;
    margin: 0 20px;
  }

  .seletor_container label{
    font-family: var(--avory);
    font-weight: var(--weight4);
    color: var(--purple);
    font-size: var(--step-1);
  }

  #dropDown{
    background-color: var(--backgroundColor);
    border: 2px var(--purple) solid;
    font-size: var(--step-1);
    font-family: var(--avory);
    font-weight: var(--weight4);
    color: var(--purple);
  }


  .journeyOfDiscovery{
    display: none;
  }

  .DESKEmberking{
    display: flex;
    background-image: url(/assets/svg/DESK_stops.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .DESKEmberking_img{
    align-self: flex-end;
    width: 25%;
    margin-left: 4%;
    margin-bottom: 3%;
  }

  .DESKEmberking_section{
    width: 50%;
    margin: 3% 0 0 10%;
  }

  .DESKEmberking_section p{
    margin: 10px 0 0 10%
  }


  .UnparalleledLuxury{
    height: 100vh;
  }
  .content_unparralleledLuxury{
    width: 60%;
    margin: 0 0 0 10%;
  }

  .content_unparralleledLuxury p{
    width: 70%;
    margin: 0 0 30px 5%;
  }

  .content_unparralleledLuxury h3{
    font-size: var(--step-1);
    width: 50%;
  }

  .ux_swipe{
    width: 25%;
  }
  .ux_swipe h4{
    font-size: 1.2rem;
  }

  .flexboxCarDetails{
    width: 100%;
  }


  .flexboxCarDetails__dining, .flexboxCarDetails__sleeping, .flexboxCarDetails__Baggage{
    width: 15%;
  }

  .train_container div button{
    width: 20%;
    font-size: var(--step-1);
  }

  .dialog--dialogOne, .dialog--dialogTwo, .dialog--dialogThree, .dialog--dialogTrain1, .dialog--dialogTrain2, .dialog--dialogTrain3, .dialog--dialog3dFrench, .dialog--dialog3dType18, .dialog--dialog3dFerman, .dialog--dialog3dBritish{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(0%); /* Start offscreen */
  }

  .dialogPopUp_divContainer{
    background-color: var(--backgroundColor);
    height: 80vh;
    border-radius: 30px;
    width: 80%;
    margin: 10vh auto;
    display: flex;
    flex-direction: column; /* Ensure the content stacks vertically */
  }

  .pupUpClose, .pupUpCloseVisitor, .pupUpCloseChef, .pupUpCloseDine, .pupUpClosesleep, .pupUpCloseBagage, .pupUpClose3dFrench, .pupUpClose3dBritisch, .pupUpClose3dGerman, .pupUpClose3dType18{
    width: 60px;
    border-radius: 10px;
    height: 60px;
    display: flex;
    position: absolute;
    background-image: url(/assets/svg/close_button.svg);
    background-size: 100% 100%;
    margin: -4dvh 0 0 74dvw;
    border: solid 3px var(--purple);
  }

  .dialog--open {
    transform: translateY(0); /* Move to the top when open */
    animation: opacityUp ease 0.5s forwards;
  }
  
  
  @keyframes opacityUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }

  .dialog--closed{
    transform: translateY(0);
    animation:opacityDown ease 0.5s forwards;
  }
  @keyframes opacityDown{
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }


  .popUpCentreTrain img{
    align-self: flex-start;
  }
  
  .popUpCentreTrain{
    display: flex;
  }

  .DESK_titlePic{
    width: 40%;
  }

  .DESK_PopUPTrain{
    width: 60%;
  }

  .titlePopUpTrain{
    display: block;
    margin: 20px;
  }

  .sevenCountriesDESK{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }
.sevenCountriesDESK div{
    height: 80vh;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sevenCountriesDESK div:nth-child(1) img{
    width: 80%;
    margin-left: -20%;
  }

  .sevenCountriesDESK div:nth-child(2) img{
    width: 50%;
    margin-right: -10%;
  }

  .sevenCountriesDESK div:nth-child(2) p{
    margin-bottom: 20%;
  }

  .sevenCountriesDESK section p{
    margin: 10px 0 0 10%;
  }

  .bridgeDESKanimation{
    display: block;
    width: 120%;
    height: 120%;
    margin:-20% 0 0 -13vw;
  }

  .bridge{
    height: 90vh;
    width: 90%;
    margin: 200px 0 0 10%;
  }
  .bridge section{
    width: 50%;
    margin: 0 0 0 0;
  }

  .bridge section p{
    margin: 20px 0 0 5%;
  }

  .bridgeBetweenDESK{
    display: block;
  }
  .IstanbullCairo{
    flex-direction: column;
    height: 70vh;
    margin: 100px 0;
  }

  .IstanbullCairo iframe{
    width: 100%;
    height: 120vh;
    margin-top: -40%;
  }

  .IstanbullCairo section{
    width: 40%;
    margin: 0 0 0 0;
    align-self: flex-start;
    margin-left: 10%;
  }

  .IstanbullCairo section p{
    width: 100%;
  }

  .hallo{
    display: block;
  }

  .container_counter{
    width: 90%;
    height: 80vh;;
  }

  .DESkcontainer_illustration_counter{
    margin: 0 0px 0 0;
    height: 100%;
    flex: 30%;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .DESkcontainer_illustration_counter div{
    width: 80%; 
    display: flex;
    align-items: flex-end;
  }

  .DESKCounterBus, .DESKCounterShip, .DESKCounterTrain{
    font-size: var(--step-5);
  }

  .counter_tekst{
    align-self: center;
    flex: 30%;

  }

  .counter_tekst h2{
    margin-bottom: 30px;
  }

  .DESKCounterBus_container{
    margin-left: -20%;
  }
  .DESKCounterShip_container{
    margin-left: -10%;
  }
  .DESKCounterTrain_container{
    margin-left: -5%;
  }

  .DESkcontainer_illustration_counter div img{
    width: 68%;
  }

  .DESkcontainer_illustration_counter div h4 {
    font-size: var(--step-2);
    margin-left: 10px;
    font-family: var(--avory);
    font-weight: var(--weight4);
  }

  .bus h4,
.counter_item_train h4,
.ship h4 {
  float: right;
  margin-right: 20px; 
  font-family: var(--avory);
  font-weight: var(--weight4);
  font-size: var(--step-2);
}

.counter_item_train h4{
  position: relative;
  left: 0px;
}


.bus img {
  width: 100%;
  position: relative;
  left: 0%;
}

.container_counter{
  margin: 150px 0;
}


/* first row experience DESK */
.DESKFirstRow{
  display: flex;
  height: 80vh;
  width: 90%;
  margin: 100px auto 200px auto;
  justify-content: space-between;
}

.DeskFirstRowCon1{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.DeskFirstRowCon2{
  width: 60%;
  border: var(--purple) solid 3px;
  overflow: scroll;
  padding: 20px;
}

.DESKSelectedText p{
    font-family: var(--avory);
    font-size: var(--step--1);
    font-weight: var(--weight4);
}
.DESKSelectedText{
  width: 100%;
  height: 100%;
}

.DESKExperienceInnhher{
  width: 100%;
  height: 94%;
}

.DeskFirstRowCon1 section p{
  width: 80%;
  margin: 10px 0 0 0;
}



.DESKplaceholderText_expereince{
  padding: 20px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  height: 100%;
}


.DESKExButtonContainer{
  display: flex;
  justify-content: space-between;
}

.DESKExButton h3{
  color: var(--purple);
  font-family: var(--avory);
  font-size: var(--step-0);
  font-weight: var(--weight4);
  margin-bottom: 20px;
}

.DESKExButtonContainer button{
  width: 25%;
  border: solid 3px var(--purple);
  background-color: transparent;
}

.deskReadp{
  font-family:var(--sofia) !important;
  font-weight: var(--weight1) !important;
  margin-left: 3%;
}

.DESKReadLast{
  padding-bottom: 3rem;
}

.DESKflexContainer{
  display: flex;
}

.DESK_button_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.dModels_button_container button{
  font-size: var(--step--1);
}

.DESK_details_model_container{
  width: 60%;
}

.DESK3Dcon1{
  width: 40%;
}

.DESK3Dcon2{
  width: 60%;
  height: 95%;
  overflow: scroll;
}

.hascontainer{
  width: 50%;
}
.newStories{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 200px;
}

.newStories section p{
  width: 40%;
  margin: 0 8%;

}

.hascontainer button{
  width: 30%;
}


/* Navigation hovers */

.chapter1::before {
  content: "Chapter 1";
  opacity: 1;
}

.chapter1:hover::before {
  content: "Journey To Caïro";
}
.chapter2::before {
  content: "Chapter 2";
  opacity: 1;
}

.chapter2:hover::before {
  content: "Interactive map";
}
.chapter3::before {
  content: "Chapter 3";
  opacity: 1;
}

.chapter3:hover::before {
  content: "Discovery";
}

.chapter4::before {
  content: "Chapter 4";
  opacity: 1;
}

.chapter4:hover::before {
  content: "Luxury";
}

.chapter5::before {
  content: "Chapter 5";
  opacity: 1;
}

.chapter5:hover::before {
  content: "Countries";
}

.chapter6::before {
  content: "Chapter 6";
  opacity: 1;
}

.chapter6:hover::before {
  content: "Bridge between";
}

.chapter7::before {
  content: "Chapter 7";
  opacity: 1;
}

.chapter7:hover::before {
  content: "Istanbull To Caïro";
}

.chapter8::before {
  content: "Chapter 8";
  opacity: 1;
}

.chapter8:hover::before {
  content: "Experiences";
}

}



