:root{
  /*colors*/
  --black : #212121;
  --backgroundColor: #E7E0D3;
  --purple: #5C2A5B;
  --playPause:#A14F98;
  --darkRed: #B7384A;
  --red: #ED4A4A;
  --orange: #EF7949;
  --yellow: #F3C053;


  /*fonts*/
  --sofia: sofia-pro-soft, sans-serif;
  --avory: avory-i-pe, sans-serif;

  --weight1:400;
  --weight2:600;
  --Weight3:700;
  --weight4:800;

  --step--3: clamp(0.5119rem, 0.4189rem + 0.4505vw, 0.7681rem);
  --step--2: clamp(0.64rem, 0.524rem + 0.5626vw, 0.96rem);
  --step--1: clamp(0.8rem, 0.6549rem + 0.7033vw, 1.2rem);
  --step-0: clamp(1rem, 0.8187rem + 0.8791vw, 1.5rem); /*bodykopie tekst*/
  --step-1: clamp(1.25rem, 1.0234rem + 1.0989vw, 1.875rem);/*bodykopie tekst*/
  --step-2: clamp(1.5625rem, 1.2792rem + 1.3736vw, 2.3438rem);/*title text*/
  --step-3: clamp(1.9531rem, 1.5989rem + 1.7176vw, 2.93rem);/*title text*/
  --step-4: clamp(2.4413rem, 1.9986rem + 2.1462vw, 3.6619rem);
  --step-45: calc((var(--step-4) + var(--step-5)) / 2);
  --step-5: clamp(3.0519rem, 2.4986rem + 2.6824vw, 4.5775rem);
  --step-6: clamp(3.815rem, 3.1235rem + 3.3527vw, 5.7219rem);
  --step-7: clamp(4.7681rem, 3.9035rem + 4.1923vw, 7.1525rem);

  /*sizes*/
  --size1h: 10dvh;
  --size2h: 12dvh;

  /*mediaQueries*/
  --ipad: only screen and (min-width: 600px) and (orientation: portrait) /*don't forget @media var(); */
  --desktop: only screen and (min-width: 1024px); /*don't forget @media var(); */
}
html{
  background-color: var(--backgroundColor);
  font-family: var(--sofia);
  color: var(--black);
}
body{
  overflow-x: hidden;
  width: 100%;
}
p{
  line-height: 150%;
  font-size: var(--step-0);
  font-weight: var(--weight1);
}
h4{
  color: var(--purple);
}

img{
  width: 100%;
}

video{
  width: 100%;
}

.dotlottie{
  width: 100%;
  margin: 0 auto;
}



/* beginning style header*/
header{
  display: grid;
  height: 100dvh;
  grid-template-columns: 5% 10% 10% 10% 10% 10% 10% 10% 10% 10% 5%;
  grid-template-rows: 2.5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 2.5%;
  overflow: hidden;

}

.logo{
  width: 60px;
  height: 60px;
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 10;
}

.hamburgerMenu{
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--backgroundColor);
  background-image: url(/assets/svg/hamburger_menu.svg);
  background-size: cover;
  grid-column: 10;
  grid-row: 2/3;
}

.Sun{
  background-color: var(--yellow);
  height: 450px;
  width: 450px;
  border-radius: 50%;
  transform: translate(-60%, -10%);
  z-index: -1;
}

.header_title{
  grid-row: 4/5;
  grid-column: 2/10;
  font-size: var(--step-45);
  font-family: var(--avory);
  font-weight: var(--weight4);
  color: var(--purple);
}

.header_title_Sub{
  grid-column: 2/11;
  grid-row: 5/6;
  color: var(--purple);
  font-size: var(--step-3);
  font-family: var(--avory);
  font-weight: var(--weight4);
  margin: 5px;
}

.header_title_text{
    grid-row: 8/9;
    grid-column: 2/7;
    color: var(--purple);
    font-family: var(--avory);
    font-size: var(--step-1);
    font-weight: var(--weight4);
}

.berlinTower{
  grid-column: 6/8;
  grid-row: 7/20;
}

.parisLouvre{
  grid-column: 1/12;
  grid-row: 16/21;
  place-self: center;
  transform-origin: center;
  margin-left: -50dvw;
  width: 120%;
}

.belgiumAtomium{
  grid-column: 7/13;
  margin-left: 5dvw;
  grid-row: 15/21;
  width: 130%;
}

.wagons{
  grid-column: 1/11;
  grid-row: 19/21;
  margin-top: -4dvh;
  width: 500%;
  

}
/*navigation for mobile*/
.container {
  max-width: 1050px;
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-container li {
  list-style: none;
}


.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
  background-color: ;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--purple);
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.menu-items{
  background-color: var(--backgroundColor);
  height: 100vh;
}

.navbar .menu-items {
  padding-top: 120px;

  width: 100vw;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-150%);
}
.menu-items-container{
  height: 85vh;
  margin-top: -5dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-items-container ul{
  width: 85%;
  margin: 0 auto;
}

.menu-items-container ul li{
  margin-top: 25px;
}

.menu-items-container ul li a{
  font-family: var(--avory);
  font-weight: var(--weight4);
  font-size: var(--step-2);
  text-decoration: none;
  color: var(--purple);
}

.quickactions{
  height: 60px;
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.tickets{
  background-color: var(--purple);
  width: 28%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: var(--avory);
  font-weight: var(--weight4);
  font-size: var(--step-2);
  padding: 15px 0;
  color: var(--backgroundColor);
  border-radius: 10px;
}

.language{
  border: var(--purple) 3px solid;
  color: var(--purple);
  background-color: var(--backgroundColor);
}


.chapterOne{
  margin-top: 0px;
  padding: 0px;
}

.socials{
  display: flex;
  width: 40%;
  margin: 0 0 6dvh 7.5%;
  justify-content: space-between;
}

.socials a{
  flex-basis: 25%;
}

.nav_chapter{
  font-size: var(--step-1);
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: var(--purple);
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

/*end of navigation hamburger
/*end of header*/



.bridge{
  overflow: hidden ;
}

.bridge_animation{
  width: 100%;
  height: 55dvh;
}

.accentBold{
  color: var(--purple);
  font-weight: var(--weight4);
  font-size: 1.2rem;
}


.titleh2{
  color: var(--purple);
  font-family: var(--avory);
  font-size: var(--step-3);
  font-weight: var(--weight4);
  width: 90%;
}







/*pop up */
.soundButton{
  background-color: var(--purple);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 3px;
}
.playPauseButton_ContentPlay{
  width: 70%;
  margin-left: 2dvw;
}
.playPauseButton_ContentPause{
  width: 70%;
}
.playPauseButton{
  display: flex;
  justify-content: center;
}
.PopUp_titleSound{
  position: sticky;
  top: -1px; 
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  margin: -8px 0px;
  padding: 10px 0 20px 0;
  background-color: var(--backgroundColor);
}
.popUpTitle{
  color: var(--purple);
  font-family: var(--avory);
  font-size: var(--step-3);
  font-weight: var(--weight4);
}
.dialogPopUp_divContainer{
  background-color: var(--backgroundColor);
  height: 80vh;
  border-top-left-radius: 60px;
  border-top-right-radius: 50px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Ensure the content stacks vertically */
}
.popUpcentre::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

.popUpcentre::-webkit-scrollbar-thumb {
  background-color: rgba(92, 42, 91,0.5); /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the radius to make it round */
}

.popUpcentre::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}
.popUpcentre{
  overflow-y: auto;
  overflow-x: hidden;
  height: 95%;
  width: 90%;
  margin: 5% auto 0% auto;
}
.dialog--dialogOne, .dialog--dialogTwo, .dialog--dialogThree {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column-reverse;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(21, 21, 21, 0.7);
  border: none;
  padding: 0px;
  transition: transform 0.5s ease;
  transform: translateY(-100%); /* Start offscreen */
  z-index: 999;
}

.dialog--open {
  transform: translateY(0); /* Move to the top when open */
  animation: slideUp ease 0.5s forwards;
}


@keyframes slideUp {
  from {
    transform: translateY(100dvh);
  }
  to {
    transform: translateY(0);
  }
}

.dialog--closed{
  transform: translateY(100dvh);
  animation:slideDown ease 0.5s forwards;
}
@keyframes slideDown{
  from {
    transform: translateY(0dvh);
  }
  to {
    transform: translateY(100dvh);
  }
}

body.dialog-open {
  overflow: hidden;
}
.readStory{
  background-image:url(/assets/svg/Button.svg);
  background-repeat: none;
  background-size: cover;
  border: none;
  font-family: var(--avory);
  color: var(--purple);
  font-size: var(--step-2);
  font-weight: var(--weight4);
  padding: 10px 30px;
  margin-top: 20px;
}
.enveloppeStory_container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.enveloppe{
  width: 70%;
  background-color: #5C2A5B;
}


.flex{
  display: flex;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 34px solid #A14F98; /* Adjust color as needed */
  transform: rotate(90deg);
  margin: 0 3.5dvw;
}
.pupUpClose, .pupUpCloseVisitor, .pupUpCloseChef{
  width: 60px;
  border-radius: 10px;
  height: 60px;
  display: flex;
  position: absolute;
  background-image: url(/assets/svg/close_button.svg);
  background-size: 100% 100%;
  margin: -15dvh 0 0 75dvw;
}

.popUpFigure{
  width: 60%;
  margin: 50px 20%;
}

.special{
  width: 90%;
  margin: 20px auto 60px auto;
}

.testimonialChef,
.testimonialVisitor,
.testimonialReporter {
  flex: 0 0 auto; 
  min-width: 40%; 
  box-sizing: border-box;
  width: 70%;
}

.notJSarticle{
  flex: 0 0 auto; 
  min-width: 40%; 
  box-sizing: border-box;
  width: 70%;
}

.ux_swipe{
  display: flex;
  width: 60%;
  height: 5dvh;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}
.popUpcentre p{

  width: 90%;
  margin: 0 auto;
}

.ux_swipe .swipe_animation{
    scale:0.75;
}
.ux_swipe h4{
  width: 300%;
  font-size: var(--step-1);
  font-family: var(--avory);
  font-weight: var(--Weight3);
  margin-left: -10px;
}

.popUpBodyCopy{
  padding-top: 5px;
}

.popUpBodyCopy_end{
  padding-bottom: 120px;
}

.popUpSub{
  font-size: var(--step-2);
  font-family: var(--avory);
  font-weight: var(--Weight3);
  color: var(--purple);
  padding-top: 30px;
}

.container_popUp_testimonials {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll; /* Enable horizontal scrolling */

}


.notJSSection {
  display: none;
  flex-wrap: nowrap;
  overflow-x: scroll; /* Enable horizontal scrolling */
  padding: 30px;
}

.js-enabled .notJSSection {
  display: none;
}

.js-enabled .container_popUp_testimonials {
  display: flex;
  /* Add other styles as needed */
}


/*journey to ca誰ro*/

.journeyToCa誰ro{
  width: 90%;
  margin: 10vh auto;
}

.journeyToCa誰ro h2{
  margin: 0 0 30px 0;
}

.journeyToCa誰ro p{
  margin: 0 0 50px 0;
}

/* end of journey */

/* data 1889 */
.data1889{
  width: 95%;
  margin-left: 5%;
  margin: 80px 0 30px 5%;
}
.yearBig{
  margin-bottom: 10px;
}

.data1889 p{
  width: 95%;
}


/* data 1930 */
.data1930{
  width: 95%;
  margin-top: 50px;
}

.data1930 div{
  display: flex;
  justify-content: space-around;
}

.data1930 div img{
  height: 100%;
  align-self: center;
  width: 35%;
  flex-shrink: 0; 
}

.data1930 div p{
  flex-basis: 55%;
}

/*interactive map*/
.interactiveMap{

  overflow: hidden ;
  margin: 80px 0 30px 0;
}


.animation-container-mobile iframe{

  width: 100%;
  margin-left: 10px;
  height: 60vh;
}

.interactiveMap_buttons{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.map__button{
  margin-bottom: 10px;
  width: 48%;
  background-image: url(/assets/svg/Button.svg);
  background-size: cover;
  padding: 10px 0;
  font-size: var(--step-2);
  font-family: var(--avory);
  color: var(--purple);
  font-weight: var(--weight4);
  border: none;
}
.interactiveMap h2{
  width: 90%;
  margin: 0 5% 5px 5%;
}

.interactiveMap p{
  width: 90%;
  margin: 0 0 25px 5%;
}



/*display none javascript enhancement*/
.notJSarticle {
  border: var(--purple) solid 3px;
  height: 60vh;
  overflow-x: auto; /* Add horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar if needed */
  border-radius: 20px;
  width: 90%;
  margin-right: 10px;
}



.notJSarticle figure {
  width: 60%;
  margin: 0 auto;
}

.notJSarticle h5,
.notJSarticle p {
  width: 95%;
  margin: 0 auto;
}

.notJSh2 {
  font-family: var(--avory);
  font-size: var(--step-3);
  font-weight: var(--weight4);
  color: var(--purple);
  margin: 0 0 0 2.7%;
}


/*navigation hamburger*/

/* end of pop up and first experience styling*/


/* 
.--step--2{
  font-size: var(--step--2);
}

.--step--1{
  font-size: var(--step--1);
}

.--step-0{
  font-size: var(--step-0);
  color: var(--purple);
}

.--step-1{
  font-size: var(--step-1);
}

.--step-2{
  font-size: var(--step-2);
  font-family: var(--avory);
  font-weight: var(--weight4);
}
.--step-3{
  font-size: var(--step-3);
  font-family: var(--avory);
  font-weight: var(--weight4);
}
.--step-4{
  font-size: var(--step-4);
}

.--step-5{
  font-size: var(--step-5);
} */


/*screens smaller than 375 px*/
@media only screen and (max-width: 390px){
  .header_title{
    font-size: var(--step-4);
  }
  .berlinTower{
    width: 90%;
    grid-row: 7/20;
  }
  header{
    height: 100dvh;
    width: 100%;
  }

  .wagons{
    width: 450%;
    grid-row: 18/20;
    margin-top: -0vh;
  }
  .pupUpClose, .pupUpCloseVisitor, .pupUpCloseChef{
    margin: -15dvh 0 0 75dvw;
  }

  .menu-items-container ul li a{
    font-family: var(--avory);
    font-weight: var(--weight4);
    font-size: var(--step-2);
  }
  .socials{
    margin-top: 3dvh;
  }
}